body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12204 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
}
#u12205 {
  position:absolute;
  left:2px;
  top:467px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12206 {
  position:absolute;
  left:569px;
  top:712px;
  width:611px;
  height:16px;
}
#u12207 {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  white-space:nowrap;
}
#u12208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12208 {
  position:absolute;
  left:720px;
  top:744px;
  width:287px;
  height:16px;
}
#u12209 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u12210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12210 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
}
#u12211 {
  position:absolute;
  left:2px;
  top:42px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12212 {
  position:absolute;
  left:1325px;
  top:40px;
  width:72px;
  height:16px;
}
#u12213 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12214 {
  position:absolute;
  left:378px;
  top:142px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12215 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:1px;
}
#u12216 {
  position:absolute;
  left:454px;
  top:224px;
  width:875px;
  height:1px;
}
#u12217 {
  position:absolute;
  left:2px;
  top:-8px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u12218 {
  position:absolute;
  left:584px;
  top:208px;
  width:34px;
  height:34px;
}
#u12219 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u12220 {
  position:absolute;
  left:789px;
  top:208px;
  width:34px;
  height:34px;
}
#u12221 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u12222 {
  position:absolute;
  left:985px;
  top:208px;
  width:34px;
  height:34px;
}
#u12223 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u12224 {
  position:absolute;
  left:1196px;
  top:208px;
  width:34px;
  height:34px;
}
#u12225 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12226 {
  position:absolute;
  left:597px;
  top:217px;
  width:9px;
  height:16px;
}
#u12227 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12228 {
  position:absolute;
  left:802px;
  top:217px;
  width:9px;
  height:16px;
}
#u12229 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12230 {
  position:absolute;
  left:998px;
  top:217px;
  width:9px;
  height:16px;
}
#u12231 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12232 {
  position:absolute;
  left:1209px;
  top:217px;
  width:9px;
  height:16px;
}
#u12233 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12234 {
  position:absolute;
  left:573px;
  top:252px;
  width:57px;
  height:16px;
}
#u12235 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12236 {
  position:absolute;
  left:778px;
  top:252px;
  width:57px;
  height:16px;
}
#u12237 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12238 {
  position:absolute;
  left:965px;
  top:252px;
  width:71px;
  height:16px;
}
#u12239 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12240 {
  position:absolute;
  left:1198px;
  top:252px;
  width:29px;
  height:16px;
}
#u12241 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12242 {
  position:absolute;
  left:630px;
  top:373px;
  width:85px;
  height:16px;
}
#u12243 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u12244 {
  position:absolute;
  left:732px;
  top:361px;
  width:250px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u12245 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12246 {
  position:absolute;
  left:736px;
  top:526px;
  width:80px;
  height:40px;
}
#u12247 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u12248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12248 {
  position:absolute;
  left:630px;
  top:433px;
  width:85px;
  height:16px;
}
#u12249 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u12250 {
  position:absolute;
  left:732px;
  top:421px;
  width:250px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u12251 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12252 {
  position:absolute;
  left:742px;
  top:361px;
  width:240px;
  height:40px;
}
#u12252_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12253 {
  position:absolute;
  left:742px;
  top:421px;
  width:240px;
  height:40px;
}
#u12253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12254 {
  position:absolute;
  left:998px;
  top:421px;
  width:128px;
  height:40px;
  color:#FF0000;
}
#u12255 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u12256 {
  position:absolute;
  left:1361px;
  top:34px;
  width:51px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u12257 {
  position:absolute;
  left:378px;
  top:14px;
  width:213px;
  height:68px;
  font-size:28px;
}
#u12258 {
  position:absolute;
  left:2px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
