body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12373 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
}
#u12374 {
  position:absolute;
  left:2px;
  top:467px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12375 {
  position:absolute;
  left:569px;
  top:712px;
  width:611px;
  height:16px;
}
#u12376 {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  white-space:nowrap;
}
#u12377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12377 {
  position:absolute;
  left:720px;
  top:744px;
  width:287px;
  height:16px;
}
#u12378 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u12379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12379 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
}
#u12380 {
  position:absolute;
  left:2px;
  top:42px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u12381 {
  position:absolute;
  left:378px;
  top:14px;
  width:213px;
  height:68px;
  font-size:28px;
}
#u12382 {
  position:absolute;
  left:2px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u12383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12383 {
  position:absolute;
  left:1325px;
  top:40px;
  width:72px;
  height:16px;
}
#u12384 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12385 {
  position:absolute;
  left:378px;
  top:142px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12386 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:1px;
}
#u12387 {
  position:absolute;
  left:454px;
  top:224px;
  width:875px;
  height:1px;
}
#u12388 {
  position:absolute;
  left:2px;
  top:-8px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u12389 {
  position:absolute;
  left:584px;
  top:208px;
  width:34px;
  height:34px;
}
#u12390 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u12391 {
  position:absolute;
  left:789px;
  top:208px;
  width:34px;
  height:34px;
}
#u12392 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u12393 {
  position:absolute;
  left:985px;
  top:208px;
  width:34px;
  height:34px;
}
#u12394 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u12395 {
  position:absolute;
  left:1196px;
  top:208px;
  width:34px;
  height:34px;
}
#u12396 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12397 {
  position:absolute;
  left:597px;
  top:217px;
  width:9px;
  height:16px;
}
#u12398 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12399 {
  position:absolute;
  left:802px;
  top:217px;
  width:9px;
  height:16px;
}
#u12400 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12401 {
  position:absolute;
  left:998px;
  top:217px;
  width:9px;
  height:16px;
}
#u12402 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12403 {
  position:absolute;
  left:1209px;
  top:217px;
  width:9px;
  height:16px;
}
#u12404 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12405 {
  position:absolute;
  left:573px;
  top:252px;
  width:57px;
  height:16px;
}
#u12406 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12407 {
  position:absolute;
  left:778px;
  top:252px;
  width:57px;
  height:16px;
}
#u12408 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12409 {
  position:absolute;
  left:965px;
  top:252px;
  width:71px;
  height:16px;
}
#u12410 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12411 {
  position:absolute;
  left:1198px;
  top:252px;
  width:29px;
  height:16px;
}
#u12412 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12413 {
  position:absolute;
  left:630px;
  top:373px;
  width:85px;
  height:16px;
}
#u12414 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u12415 {
  position:absolute;
  left:732px;
  top:361px;
  width:250px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u12416 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12417 {
  position:absolute;
  left:736px;
  top:526px;
  width:80px;
  height:40px;
}
#u12418 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u12419 {
  position:absolute;
  left:742px;
  top:361px;
  width:240px;
  height:40px;
}
#u12419_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12420 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12421 {
  position:absolute;
  left:630px;
  top:463px;
  width:85px;
  height:16px;
}
#u12422 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u12423 {
  position:absolute;
  left:732px;
  top:451px;
  width:250px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u12424 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12425 {
  position:absolute;
  left:742px;
  top:451px;
  width:240px;
  height:40px;
}
#u12425_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12426 {
  position:absolute;
  left:736px;
  top:411px;
  width:57px;
  height:16px;
  color:#999999;
}
#u12427 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12428 {
  position:absolute;
  left:793px;
  top:411px;
  width:130px;
  height:16px;
}
#u12429 {
  position:absolute;
  left:2px;
  top:0px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
